# please also update ../setup.py
xmldiff==2.4
xmltodict==0.12.0
fnc==0.4.0 # utility library that allows for function composition
lxml==4.6.5 # validates and reads xml
jingtrang==0.1.2 # converts .rnc to .rng files and vica versa
